<section class="container-fluid ">
    
    <div class="container-fluid text-center">
        <h1 class="h1 ">HISTORY</h1>
        <p>Here is the record of all the products 
            on which you have placed your bid and there status.
        </p>
    </div>
    <div class="container-fluid">

        <table class="table">
            <thead class="thead-inverse">
                <tr class="table-active">
                    <th>#</th>
                    <th>Item Name</th>
                    <th>Starting Bid</th>
                    <th>Your Bid</th>
                    <th>Status</th>
                    <th>Auction Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a routerLink="/buyerDashboard/productOverview">item 1</a></td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>sold</td>
                    <td colspan="2">start date to end date</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td><a routerLink="/buyerDashboard/productOverview">item 2</a></td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>sold</td>
                    <td colspan="2">start date to end date</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td><a routerLink="/buyerDashboard/productOverview">item 3</a></td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>sold</td>
                    <td colspan="2">start date to end date</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td><a routerLink="/buyerDashboard/productOverview">item 4</a></td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>sold</td>
                    <td colspan="2">start date to end date</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>