<!-- <h2>Seller Dashboard</h2> -->

<div class="sellerKaDisplay ">
    <div class="sideKaNavi ">
        <section class="menubarWaleItem border">
            <a routerLink="/dashboard/home" type="button" class="btnR">Home</a>
            <a routerLink="/dashboard/addProduct" type="button" class="btnR">Add Product</a>
            <a routerLink="/dashboard/viewProduct" type="button" class="btnR">View Product</a>
            <a routerLink="/dashboard/profile" type="button" class="btnR">Profile</a>
        </section>
    </div>
</div>
<div class="container diplayWalaArea">
    <router-outlet></router-outlet>
</div>