<!-- <h2>Buyer Dashboard</h2> -->

<div class="sellerKaDisplay ">
    <div class="sideKaNavi ">
   
        <section class="menubarWaleItem border">
        <a routerLink="/buyerDashboard/homeBuyer" type="button" class="btnR">Home</a>
        <a routerLink="/buyerDashboard/browse" type="button" class="btnR">Browse</a>
        <a routerLink="/buyerDashboard/history" type="button" class="btnR">History</a>
        <a routerLink="/buyerDashboard/profileBuyer" type="button" class="btnR">Profile</a>
        </section>
    </div>
    <div class="container diplayWalaArea">
     <router-outlet></router-outlet>    
        
    </div>
   </div>